﻿@model IList<Twitty.Models.Post>
@{
    ViewData["Title"] = "Followers Page";

    int? myUserId = (int?)ViewData["userId"];
}

    <div class="container d-flex flex-column" style="justify-content: center;">
        @foreach (var post in Model)
        {
            <div class="card d-flex mb-2" style="width: 75%;">
                <div class="card-body mb-4">
                    <div class="d-flex justify-content-between">
                        <a asp-action="User" asp-route-userId="@post.MyUser.Id" class="card-title"> @post.MyUser.Username </a>
                        <p class="card-text">&nbsp&nbsp @post.CreationDate.ToString("dd.MM.yyyy - HH:mm")</p>
                    </div>
                    <p class="card-text">@post.Text</p>
                    <div>
                        <form asp-action="UnfollowUser" asp-controller="User">
                            <input hidden name="userToUnfollowId" value="@post.MyUser.Id" />
                            <button class="btn btn-block btn-secondary" type="submit">Unfollow me</button>
                        </form>
                        <button class="btn btn-block"
                                data-toggle="collapse"
                                data-target="#comment-@post.Id">
                            Comments
                        </button>
                        <div id="comment-@post.Id" class="collapse">
                            @foreach (var comment in post.Comments)
                            {
                                <div class="row mt-2 border-bottom">
                                    <div class="col-2">
                                        <p class="font-weight-bold">@comment.UserWhoCommented.Username: </p>
                                        @if (myUserId.HasValue && myUserId.Value == comment.UserWhoCommented.Id)
                                        {
                                            <form asp-action="DeleteComment" asp-controller="Comment">
                                                <input type="hidden" name="commentId" value="@comment.Id" />
                                                <button type="submit" class="trash-can btn btn-danger btn-block">Del</button>
                                            </form>
                                        }
                                    </div>
                                    <p class="lead col-8">@comment.CommentInfo</p>
                                    <p class="col-2 align-self-end">@comment.WhenCommented.ToString("dd.MM.yyyy - HH:mm")</p>
                                    <br />
                                </div>

                            }
                            <form asp-action="AddComment" asp-controller="Comment">
                                <input hidden name="postId" value="@post.Id" />
                                <input class="mt-2 mb-2 form-control" placeholder="comment" name="commentInfo" />
                                <button class="btn btn-dark btn-block">Comment</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
