﻿@model IList<Twitty.Models.Post>
@{
    ViewData["Title"] = "Home Page";
    
    int? myUserId = (int?)ViewData["userId"];
}

<div class="container">
    <h1>Home page</h1>
    
    <a class="mt-2 mb-2 nav-link text-dark" data-toggle="modal"
       data-target="#exampleModal">Add New Post</a>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form asp-action="AddPost" asp-controller="Post">
                        <input class="mb-2 form-control" name="text" />
                        <button type="submit" class="btn-block btn btn-dark">Submit post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex flex-column" style="justify-content: center;">
        @foreach (var post in Model)
        {
            <div class="card d-flex mb-2" style="width: 75%;">
                <div class="card-body mb-4">
                    <div class="d-flex justify-content-between">
                        <a asp-action="User" asp-route-userId="@post.MyUser.Id" class="card-title"> @post.MyUser.Username </a>
                        <p class="card-text">&nbsp&nbsp @post.CreationDate.ToString("dd.MM.yyyy - HH:mm")</p>
                    </div>
                    <p class="card-text">@post.Text</p>
                    <div class="">
                        <div style="width: 100%;">
                            <button class="btn btn-block" 
                                    data-toggle="collapse"
                                    data-target="#comment-@post.Id">Comments</button>
                        </div>
                        <div id="comment-@post.Id" class="collapse">
                            @foreach (var comment in post.Comments)
                             {
                                <div class="row mt-2 border-bottom">
                                    <div class="col-2">
                                        <p class="font-weight-bold">@comment.UserWhoCommented.Username: </p>
                                        @if (myUserId.HasValue && myUserId.Value == comment.UserWhoCommented.Id)
                                        {
                                            <form asp-action="DeleteComment" asp-controller="Comment">
                                                <input type="hidden" name="commentId" value="@comment.Id" />
                                                <button type="submit" class="trash-can btn btn-danger btn-block">Del</button>
                                            </form>
                                        }
                                    </div>
                                    <p class="lead col-8">@comment.CommentInfo</p>
                                    <p class="col-2 align-self-end">@comment.WhenCommented.ToString("dd.MM.yyyy - HH:mm")</p>
                                    <br />
                                </div>
                                
                             }
                            <form asp-action="AddComment" asp-controller="Comment" >
                                <input hidden name="postId" value="@post.Id"/>
                                <input class="mt-2 mb-2 form-control" placeholder="comment" name="commentInfo" />
                                <button class="btn btn-dark btn-block">Comment</button>
                            </form>
                            
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>

</div>
