@{
    ViewData["Title"] = "Login page";
}

<div class="container d-flex" style="justify-content: center;">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form method="post" asp-action="Login" asp-controller="User">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" name="username" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="">
                    <button type="submit" class="btn btn-primary d-flex" style="justify-self: start;">Submit</button>
                    <small class="d-flex" style="justify-self: end;">
                        Don't have an account?&nbsp&nbsp<a asp-controller="Home" asp-action="Register">
                            Register
                            here
                        </a>
                    </small>
                </div>
            </form>
        </div>
    </div>

</div>